.nav-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  justify-content: flex-start;
}
.nav-header .brand-logo {
  padding-left: inherit;
  padding-inline-start: 1.25rem;
}
.nav-header .logo-icon {
  display: none;
  transition: all 0.5s ease;
  padding-inline-start: 13px;
}
.nav-header .logo-icon img {
  height: 40px;
  width: 40px;
  align-items: center;
}
.menu-toggle .nav-header .logo-icon {
  display: flex;
}

.nav-control {
  position: static;
  min-height: 80px;
  display: flex;
  align-items: center;
  transform: none;
  margin-inline-start: 65px;
  transition: 0.3s;
}
.hamburger {
  top: 0;
}
.hamburger.is-active {
  position: static;
}
.menu-toggle .nav-control {
  margin-inline-start: 28px;
}

[dir="rtl"] .menu-toggle .content-body {
  margin-right: 3.75rem;
}
[data-sidebar-style="compact"] .nav-header .brand-logo,
[data-sidebar-style="mini"] .nav-header .brand-logo {
  display: none;
}
[data-sidebar-style="compact"] .nav-header .logo-icon,
[data-sidebar-style="mini"] .nav-header .logo-icon {
  display: flex;
}

/* [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .quixnav .metismenu li a {
  padding: inherit;
  padding-block: 0.8125rem;
  padding-inline: 0.9375rem;
} */

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .quixnav .metismenu > li:hover > a .nav-text {
  padding-left: inherit;
  padding-inline-start: 10px;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .quixnav .metismenu li > ul li:hover ul {
  left: inherit;
  inset-inline-start: 11.8125rem;
}
[dir="rtl"] .quixnav .metismenu .has-arrow:after {
  right: inherit;
  transform: rotate(-45deg);
}
[dir="rtl"] .quixnav .metismenu > li a > i {
  transform: translate(3px, 0px);
}

@media screen and (max-width: 991px) {
  .nav-header .logo-icon {
    padding-inline-start: 10px;
  }
  .nav-header .brand-logo {
    display: none;
  }
  [dir="rtl"] .nav-control {
    display: none;
  }
  [data-header-position="fixed"] .content-body {
    padding-top: 0;
  }
}
[dir="rtl"] .nav-control {
  display: block;
}
[dir="rtl"] .nav-control {
  display: flex;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .header {
  padding-left: inherit;
  padding-inline-start: 3.75rem;
}
@media screen and (max-width: 767px) {
  .header .j-to-do {
    display: none;
  }
  [dir="rtl"] .nav-control {
    display: none;
  }
  .quixnav {
    left: inherit;
    inset-inline-start: 0;
}
}
@media screen and (max-width: 575px) {
  .header .j-search {
    display: none;
  }
  .header .j-search-form {
    width: auto;
  }
  .header .j-to-do {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .header .nav-lang {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .nav-control {
    display: none;
  }
  [dir="rtl"] .nav-control {
    display: none;
  }
  .menu-toggle .nav-header {
    justify-content: center;
  }
  .nav-header .logo-icon {
    padding-inline-start: 8px;
  }
}

.menu-toggle .quixnav.j-custom-style .metismenu > li > a.has-arrow > i {
  padding: 0;
}

/* Start pagination  */
/* .pagination {
    display: flex !important;
    margin-top: 0rem !important;
    margin-bottom: 0px;
    text-align: center;
}

.pagination .page-item .page-link {
    padding: 10px 15px 10px 15px;
    margin: 0 5px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    transition: all 0.5s ease;
}

.card-body p.text-muted {
    margin-bottom: 0rem !important;
} */

/* End pagination  */


/* select2 */


/* select2 */
