    
/*-------------------------------------------------------
01. Variable css #593bdb
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--clr-heading: #38414D;
	--clr-body: #798494;
	--clr-body-2: #97A0AE;
	--clr-bg: #EEF3FA;
	--clr-bg-2: #EEF3FA;
	--clr-primary:  #4c5bfd;
	--clr-primary-2: #0d6efd;
	--clr-white: #fff;
	--clr-black: #000;
	--clr-border: #DEE5F0;
	--clr-red: #FF3B3B;
	--clr-ylw: #fea412;
	--clr-green:#0CAF60;
	--clr-green-2: #06C270;
	--font-1: 'Josefin Sans', sans-serif;
	--font-2: 'Josefin Sans', sans-serif;
    --clr-rgb:0, 102, 208;
    --clr-gradient: linear-gradient(90deg, var(--clr-def) 0%, var(--clr-def-2) 35%, var(--clr-def-3) 100%);
}

[data-typography="poppins"] {
    font-family: 'Josefin Sans', sans-serif;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

 .content-body .container-fluid {
    padding: 20px;
}

.content-body .container {
    margin-top: 20px;
	padding-right: 20px;
    padding-left: 20px;
}

.content-body {
    padding-bottom: 20px;
}

.card {
	background: var(--clr-white);
	box-shadow: 0px 20px 50px 0px #00000008;
	padding: 35px 20px 30px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.card-header {
    padding: 0;
}

.card-header:first-child {
    border-radius: 0;
}

.card-body {
    padding: 0;
}

.page-titles {
    background: var(--clr-white);
	box-shadow: 0px 20px 50px 0px #00000008;
	padding: 35px 20px 30px 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

