/*-------------------------------------------------------
15. J Menu Style css
---------------------------------------------------------*/

.quixnav.j-custom-style .metismenu > li:hover > a, .quixnav .metismenu > li:focus > a, .quixnav .metismenu > li.mm-active > a {
    background-color: var(--clr-primary-2);
	color: var(--clr-white)!important;
}

.quixnav.j-custom-style .metismenu > li {
	margin-bottom: 5px;
}

.quixnav.j-custom-style .metismenu > li > a {
    color: #38414D;
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
}

.quixnav.j-custom-style .metismenu a {
	padding: 16px 18px;
    color: #38414D;
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
	border-radius: 8px;
}

.quixnav.j-custom-style {
    padding: 0 10px;
}

[data-sidebar-style="full"][data-layout="vertical"]
    .menu-toggle
    .quixnav
    .metismenu
    li
    > ul {
	left: 2.75rem;
	width: 12.875rem;
	background: var(--clr-primary-2);
	top: 2.3rem;border-radius: 0 0 8px 8px;
	li {
		a {
			color: var(--clr-white);
			position: relative;
			z-index: 1;
			padding-left: 35px!important;
			&::before {
				position: absolute;
				z-index: 1;
				content: '';
				width: 8px;
				height: 2px;
				top: 50%;
				left: 20px;
				transform: translate(0,-50%);
				background-color: var(--clr-white);
			}
		}
	}
}

[data-sidebar-style="full"][data-layout="vertical"]
    .menu-toggle
    .nav-header
    .brand-logo {
    display: none;
}

.hamburger.is-active {
    left: -76px;
    top: -3px;
}

//Header

.j-header-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.j-header-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.j-search-form {
	width:249px;
	position: relative;
	z-index: 1;
	.j-form-control {
		padding: 0 16px;
		border-radius: 6px;
		border: 1px solid #DEE5F0;
		width: 100%;
		height: 40px;
		&::placeholder {
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			color: #97A0AE;
		}
	}
	.j-form-btn {
		border: none;
		background: transparent;
		font-size: 16px;
		position: absolute;
		top: 50%;
		right: 10px;
		line-height: 1;
		transform: translate(0, -50%);
		color: #999999;
	}
}

.nav-np {
	display: flex;
	align-items: center;
	gap: 5px;
	.np {
		height: 40px;
		width: 40px;
		border-radius: 8px;
	}
	h6 {
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		color: var(--clr-body);
	}
}

.nav-bell {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #DEE5F0;
	display: inline-block;
}

.nav-lang {
	.custom-dropdown{
		margin-bottom: 0;
	}
}

.ham-nav {
	i {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 6px;
		background:  var(--clr-white);
		border: 1px solid #DEE5F0;
		color: var(--clr-body-2);
	}
}

.ham-nav.is-active {
	.jjj-left {
		display: none;
	}
	.jjj-right {
		display: inline-block;
	}
}

.jjj-left {
	display: inline-block;
}

.jjj-right {
	display: none;
}

.nav-control {
    padding: 0;
}

.header {
    background-color: #fff;
}

.quixnav {
    background-color: #fff;
}

.nav-header {
    background-color: #fff;
}

.quixnav .metismenu > li a > i {
    padding: 0;
	padding-right: 5px;
}

.quixnav .metismenu > li a > i {
    padding: 0;
    padding-right: 0;
    transform: translate(-5px, 0);
}

.quixnav .metismenu > li.mm-active ul {
    background-color: var(--clr-primary-2);
	border-radius: 0 0 8px 8px;
}

.quixnav .metismenu > li.mm-active ul ul {
    background-color:  var(--clr-green);
}

.quixnav .metismenu > li.mm-active ul li a {
    color: var(--clr-white);
	position: relative;
	z-index: 1;
	padding-left: 35px;
	&::before {
		position: absolute;
		z-index: 1;
		content: '';
		width: 8px;
		height: 2px;
		top: 50%;
		left: 20px;
		transform: translate(0,-50%);
		background-color: var(--clr-white);
	}
}

.metismenu.mm-show .mm-active {
	.has-arrow {
		border-radius: 8px 8px 0 0;
		position: relative;
		z-index: 1;
		&::before {
			position: absolute;
			z-index: 1;
			background: var(--clr-white);
			content: '';
			bottom: 0;
			left: 50%;
			transform: translate(-50%,0);
			width: 85%;
			height: 1px;

		}
	}
}

.quixnav .metismenu ul a:hover, .quixnav .metismenu ul a:focus, .quixnav .metismenu ul a.mm-active {
    color: var(--clr-ylw)!important;
}

.mb-border-nai {
	&::before {
		display: none;
	}
}

.metismenu.mm-show .mm-active .has-arrow::before {
    display: none;
}
